.contFecha{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.contCombo{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

h3{
    margin-top: 20px;
}


.cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 10%;
}

img{
    margin: 20px;
}
nz-empty{
    margin-top: 20px;
}